/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028; /*светлаяFFF1F7*/ 
  --main-font: 'IBM Plex Mono', monospace;
  --title-color: #DB00FF; /*розовыйFFC2E6*/
  --shadow-color: #ff0070; /*без изменений*/
  --text-color: #F1B2CE; /*черный#000028*/
  --button-color: #ff0070; /*черный#000028*/
  --title: #FF0070; /* светло розовый#FF8DCB*/
  --border-color:  #ff0070; /*черный#000028*/
  --title-text: #000028;
  --accent-color: #ff0070;
  --link:#FF0070; /*розовый #FF8DCB*/
  --button-hover: rgba(255, 0, 112, 0.40);
}
